<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form action="Logout" method="get">
    <input type="submit" value="Logout">
</form>
<h1>Welcome back <span th:text="${session.user.getName()}">Name</span> <span th:text="${session.user.getSurname()}">Surname</span>
</h1>

<!--playlists table-->
<div th:if="${#lists.isEmpty(playlists)}">
    Nessuna playlist trovata. Per creare una nuova playlist, usa il form sotto.<br>
</div>
<div th:if="${not #lists.isEmpty(playlists)}">
    <table border="1">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${playlists}">
            <td>
                <a href="playlist.html" th:href="@{/Playlist(playlistId = ${p.id}, songsIndex = 0)}">
                    <span th:text="${p.getName()}">Nome Playlist</span>
                </a>
            </td>
            <td th:text="${p.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<table>
    <tbody>
    <tr>
        <td>
            <!--form to upload new song-->
            <form action="UploadSong" method="post" enctype="multipart/form-data">
                <table align="center">
                    <thead>
                    <tr>
                        Aggiungi canzone
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Titolo:</td>
                        <td><label><input type="text" name="title" maxlength="256" required></label></td>
                    </tr>
                    <tr>
                        <td>Album:</td>
                        <td><label><input type="text" name="album_title" maxlength="256" required></label></td>
                    </tr>
                    <tr>
                        <td>Inteprete:</td>
                        <td><label><input type="text" name="performer" maxlength="256" required></label></td>
                    </tr>
                    <tr>
                        <td>Anno:</td>
                        <td><label><input type="number" name="year" required></label></td>
                    </tr>
                    <tr>
                        <td>Genere:</td>
                        <td>
                            <label>
                                <select name="genre">
                                    <option th:each="g : ${genres}" th:value="${g}" th:text="${g}"></option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>File musicale:</td>
                        <td><label><input type="file" accept=".mp3, .ogg, .wav" name="music_file" required></label></td>
                    </tr>
                    <tr>
                        <td>Immagine:</td>
                        <td><label><input type="file" accept="image/*" name="image_file" required></label></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Carica brano ->"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
        <!--form to create new playlist-->
        <td>
            <form action="CreatePlaylist" method="post">
                <table align="center">
                    <thead>
                    <tr>
                        Crea playlist
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Titolo:</td>
                        <td><label>
                            <input type="text" name="title" maxlength="256" required>
                        </label></td>
                    </tr>
                    <tr th:each="s : ${songs}">
                        <td>
                            <span th:text="${s.getTitle()}">Canzone</span>
                        </td>
                        <td><label>
                            <input type="checkbox" th:name="'songId' + ${s.getId()}">
                        </label></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Crea playlist ->"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>