<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
</head>
<body>
<form action="Homepage" method="get">
    <input type="submit" value="Homepage">
</form>
<br>
<form action="Logout" method="get">
    <input type="submit" value="Logout">
</form>

<!--song info-->
<span th:text="${song.getTitle()}">Titolo</span><br>
<img th:src="@{/GetFile(filename=${song.getImage_file_name()})}" alt="Foto della canzone corrente" height=200 width=200><br>
<audio controls>
    <source th:src="@{/GetFile(filename=${song.getMusic_file_name()})}" type="audio/mpeg">
</audio>
<br>
Titolo dell'album: <span th:text="${song.getAlbum_title()}">album</span><br>
Interprete: <span th:text="${song.getPerformer()}">interprete</span><br>
Anno: <span th:text="${song.getYear()}">anno</span><br>
Genere: <span th:text="${song.getGenre()}">genre</span><br>
<a href="playlist.html" th:href="@{/Playlist(playlistId = ${playlistId}, songsIndex = ${songsIndex})}">Torna alla
    playlist</a>

</body>
</html>