<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form action="Logout" method="get">
    <input type="submit" value="Logout">
</form>
<h1>Welcome back <span th:text="${session.user.getName()}">Name</span> <span th:text="${session.user.getSurname()}">Surname</span>
</h1>

<!--playlists table-->
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${playlists}">
        <!--TODO make the name of the playlist a button that brings up the respective playlist page-->
        <td th:text="${p.getName()}"></td>
        <td th:text="${p.getDate()}"></td>
    </tr>
    </tbody>
</table>

<br>

<table>
    <tbody>
    <tr>
        <td>
            <!--form to upload new song-->
            <form action="UploadSong" method="post" enctype="multipart/form-data">
                <table align="center">
                    <tbody>
                    <tr>
                        <td>Titolo:</td>
                        <td><label><input type="text" name="title" maxlength="64" required></label></td>
                    </tr>
                    <tr>
                        <td>Album:</td>
                        <td><label><input type="text" name="album_title" maxlength="64"required></label></td>
                    </tr>
                    <tr>
                        <td>Inteprete:</td>
                        <td><label><input type="text" name="performer" maxlength="64" required></label></td>
                    </tr>
                    <tr>
                        <td>Anno:</td>
                        <td><label><input type="number" name="year" required></label></td>
                    </tr>
                    <tr>
                        <td>Genere:</td>
                        <td>
                            <label>
                                <select name="genre">
                                    <option th:each="g : ${genres}" th:value="${g}" th:text="${g}"></option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>File musicale:</td>
                        <td><label><input type="file" accept=".mp3, .ogg, .wav" name="music_file" required></label></td>
                    </tr>
                    <tr>
                        <td>Immagine:</td>
                        <td><label><input type="file" accept="image/*" name="image_file" required></label></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Carica brano ->"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
        <!--form to create new playlist-->
        <td>
            <form>
                <table align="center">
                    <tbody>
                    <tr>
                        <td>Prova</td>
                        <td>Another one</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>